body{
  display: grid;
  grid: 150px 1fr 100px / 1fr 5fr 1fr;
  grid-template-areas: 
  'header header header'
  'leftNav content aside'
  'footer footer footer';
}

header{
  background: orange;
  grid-area: header;
}

footer{
  background: blue;
  grid-area: footer;
}

main{
  background: gray;
  grid-area: content;
}

nav.leftNav{
  background-color: brown;
  grid-area: leftNav;
}

aside{
  background-color: beige;
  grid-area: aside;
}
